.matter-logo {
  background-image: url(../assets/img/matterlogo_rgb.svg);
  width: 700px;
  height: 294px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 108%;
  position: absolute;
  top: 0;
  left: 20px;
  z-index: 100;
}
.right-rail {
  float: right;
}
.right-rail-xs {
  position: absolute;
  bottom: 0;
}
.notification-text {
  color: #f0f;
  font-size: 26px;
}
.container {
  margin-left: 10px;
  margin-right: 10px;
}
.block {
  padding: 0;
}
.block-fill-height {
  height: 100vh;
}
.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.video-content {
  width: 100%;
  z-index: 0;
  position: absolute;
  bottom: 0;
}
h2.block-title {
  padding-top: 200px;
  font-size: 70px;
}
h1.block-title {
  font-size: 260px;
  text-align: right;
  line-height: 0.8em;
}
.primary-link {
  font-size: 60px;
  text-transform: uppercase;
  color: #f0f;
}
.primary-link:hover {
  color: #f0f;
}
.meta-info {
  color: #f0f;
  font-size: 16px;
  vertical-align: bottom;
  line-height: 1.1em;
}
.meta-speakers {
  list-style-type: none;
  color: #f0f;
  font-size: 28px;
  vertical-align: bottom;
  line-height: 1.2em;
}
.meta {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.sold-out {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  z-index: 100;
  opacity: 0.97;
}
.sold-out.hidden-xs {
  background-image: url(../assets/img/sold_outDesktop.png);
  width: 1200px;
  height: 700px;
}
.sold-out.hidden-lg {
  background-image: url(../assets/img/sold_outMobile.png);
  width: 375px;
  height: 630px;
}

/*
 * Mobile styles
 */

 // ipad portrait
 @media screen and (min-width: @screen-sm-min) and (max-width: 1023px) {
   .video-content {
     height: 100vh;
     -webkit-transform: rotate(270deg) scale(2);
     -moz-transform: rotate(270deg) scale (2);
     -ms-transform: rotate(270deg) scale (2);
   }
   h1.block-title {
     font-size: 190px;
     margin-top: -200px;
   }
 }
// ipad landscape
@media screen and (min-width: 1023px) and (max-width: 1400px) {
  .video-content {
    height: 100vh;
    -webkit-transform: scale(1.4);
    -moz-transform: scale (1.4);
    -ms-transform: scale (1.4);
  }
  h1.block-title {
    font-size: 205px;
  }
}

@media (max-width: @screen-xs-max) {
  .video-content {
    -webkit-transform: rotate(270deg) scale(1.2);
    -moz-transform: rotate(270deg) scale (1.2);
    -ms-transform: rotate(270deg) scale (1.2);
    -webkit-transform-origin: top top;
    -moz-transform-origin: top top;
    -ms-transform-origin: top top;
    width: 100vh;
    height: 100vh;
    left: -150px;
    top: 0;
  }
  .gif-bg {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    width: 150vh;
    height: 100vh;
    left: -180px;
    top: 0;
  }
  h1.block-title {
    font-size: 100px;
    line-height: 0.9em;
    margin-top: -30px;
  }
  h2.block-title {
    padding-top: 50px;
    font-size: 55px;
  }
  .matter-logo {
    width: 320px;
    height: 155px;
    left: 10px;
  }
  .meta {
    position: static;
  }
  .meta-info {
    margin: 0;
    position: absolute;
    left: 20px;
    bottom: 20px;
  }
  .right-rail-xs {
    position: absolute;
    right: 0;
    bottom: 40px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
  }
  .right-rail-xs.is-selected {
    right: -160px;
    bottom: 214px;
  }
  .block-fill-height {
    height: 95vh;
  }
}

@media (max-width: @screen-sm-min) and (orientation:landscape) {
  .video-content {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
  }
}

// 6s
@media (max-width: 414px) and (min-width: 376px) and (orientation:portrait) {
  .video-content {
    width: 100vh;
  }
}

// SE
@media (max-width: 320px) {
  h1.block-title {
    font-size: 100px;
  }
  .matter-logo {
    width: 280px;
  }
  .video-content {
    width: 110vh;
  }
}
